@import url(reset.css);

html {
  font-size: 20px;
}
.header {
  background-color: #ffe138;
  height: 160px;
  width: 100%;
  display: flex;
}
.title {
  text-transform: uppercase;
  margin: auto;
}
.meta__img {
  background-image: url(../img/MetaSideTable.png);
  background-size: cover;
  background-position: center;
  padding-bottom: 100%;
}
.click__img {
  background-image: url(../img/ClickShelf.png);
  background-size: cover;
  background-position: center;
  padding-bottom: 100%;
}

.float__img {
  background-image: url(../img/FloatShelf.png);
  background-size: cover;
  background-position: center;
  padding-bottom: 100%;
}

.meta,
.click,
.float {
  border: 3px solid black;
}

.text {
  padding: 30px 33px;
  font-size: 1em;
}
h2 {
  font-weight: bold;
  padding-bottom: 20px;
}
.container {
  margin: 70px;
  justify-content: space-around;
  display: flex;
  flex-wrap: nowrap;
}

.container__item {
  margin-right: 50px;
  width: calc((100%-100px) / 3);
}
.container__item:last-child {
  margin: 0;
}
.footer__text {
  margin: auto;
}
.footer {
  display: flex;
  padding: 52px;
  background-color: #ffe138;
}
