body {
  width: 1000px;
  margin: 0 auto;
  font-family: Helvetica, Arial, sans-serif;
}

.header,
.footer {
  background-color: chartreuse;
}

.title {
  text-align: center;
  color: white;
  margin: 0;
  padding: 20px;
  font-size: 50px;
}

.subtitle {
  text-align: center;
  font-size: 19px;
  color: coral;
  font-weight: lighter;
  margin: 0;
  padding-bottom: 20px;
}

.nav {
  text-align: center;
}
.link {
  display: inline-block;
  margin: 10px 0;
  text-decoration: none;
  color: black;
  /* border: 5px solid black; */
  padding: 20px;
}
.link:hover {
  background-color: rgb(199, 199, 199);
}

img {
  width: 1000px;
}
.text {
  font-size: 25px;
}

.footer {
  height: 150px;
  display: flex;
}

.footerText {
  color: white;
  margin: auto;
  font-size: 50px;
  font-weight: bold;
}
