.div {
  width: 400px;
  height: 400px;
  background-color: yellow;
}

.div2 {
  width: 400px;
  height: 400px;
  background-color: rgb(42, 253, 183);
}

header {
  background-color: rgb(129, 61, 207);
  height: 150px;
}

main {
  background-color: rgb(215, 255, 36);
}
footer {
  background-color: #123123;
}

h1 {
  text-align: center;
  padding-top: 50px;
}
.p {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  border: 5px dotted red;
}

button {
  display: block;

  /* margin-top: 50px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto; */
  margin: 50px auto;

  background-color: rgb(22, 51, 184);

  /* 

  padding: 50px;

  padding-top: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  padding-left: 50px;

  padding: 50px 25px;

  1 цифра - top и bottom
  2 цифра - left и right 

  padding-top: 50px;
  padding-right: 25px;
  padding-bottom: 50px;
  padding-left: 25px;



   */
  padding: 50px;
}

.link {
  color: green;
}

a {
  text-decoration: none;
}

.sp {
  font-size: 30px;
}

h4 {
  font-size: 40px;
  color: crimson;
  text-align: center;
  padding-top: 20px;
}
