@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@200;300;400;500;600;700&display=swap');

/* ----------- main style ----------- */
html {
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

/* ----------- flex css ----------- */

.header {
  display: flex;
}
.logo {
  padding-top: 20px;
  margin: 0 auto;
}
.basket {
  width: 45px;
  height: 45px;
  position: fixed;
  right: 50px;
  top: 50px;
}

.basket__icon {
  width: 25px;
  height: 25px;
}

.main {
  margin: 0 70px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}

.item__1,
.item__2,
.item__3,
.item__4,
.item__5,
.item__6,
.item__7,
.item__8,
.item__9 {
  justify-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item__img {
  width: 400px;
  height: 400px;
}
.footer {
  display: flex;
  margin: 40px 70px 20px;
  padding: 20px 0;
  /* border-top: 4px solid black; */
  justify-content: space-between;
}

.delivery {
  grid-column: 1/2;
  font-size: 18px;
  font-weight: bold;
  align-self: center;
}

.icon {
  grid-column: 10/11;
  justify-self: end;
}

.inst,
.tg {
  margin-right: 10px;
}

/* ----------- item page ----------- */

.item {
  display: flex;
  justify-content: space-around;
  margin: 0 70px;
}

.main__right {
  align-self: center;
}

.main__left {
  width: 450px;
}
.main__price {
  font-size: 22px;
  padding-bottom: 10px;
}

.main__about {
  font-size: 18px;
  padding-top: 30px;
  line-height: 20px;
}

select {
  margin-right: 10px;
  appearance: none;
  -webkit-appearance: none;

  font: inherit;
  font-size: inherit;
  font-weight: 400;

  /* opinionated design defaults */
  block-size: 2.75rem;
  inline-size: 100px;
  border: 1px solid #000;
  /*border-radius: 0.25rem;*/
  background-color: #fff;
  color: #000;

  padding-inline-start: 0.5rem;
  /* compensate for arrow icon, so text doesn't overlap it */
  padding-inline-end: 2rem;

  /* arrow icon */
  background-image: conic-gradient(
    from 45deg,
    transparent 0% 25%,
    transparent 0% 75%,
    currentColor 0%
  );

  background-size: 12px 12px;
  background-position: right 1rem top calc(50% + 4px);
  background-repeat: no-repeat;
}

.Btn {
  background-color: rgb(0, 0, 0); /* Green */
  border: none;
  /*border-radius: 0.25rem;*/
  color: white;
  padding: 15px 92px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: inherit;
  margin: 4px 2px;
  cursor: pointer;
  cursor: allowed;
}

.Btn:hover {
  background-color: rgb(109, 109, 109);
}

/* ----------- basket ----------- */

.basketmain {
  display: flex;
  flex-direction: column;
}

.basket__stroke {
  display: flex;
  margin: 0 70px;
  justify-content: space-between;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin: 0 70px;
}
.basket__title {
  font-size: 24px;
  margin: 40px auto 0;
}

.basket__img {
  width: 350px;
}
.basket__name,
.basket__price,
.basket__number {
  font-size: 18px;
}
.basket__cancel {
  padding-top: 65px;
}

.basket__price {
  padding: 70px 70px 0 0;
}

.basket__number {
  padding: 70px 100px 0 0;
}

.basket__name {
  padding: 70px 100px 0 20px;
}

.basket__total {
  font-size: 24px;
  padding-bottom: 40px;
  display: flex;
  justify-content: flex-end;
  margin: 0 70px;
}

.basket__remove {
  background-color: rgb(131, 131, 131);
}

/* ----------- responsibillity ----------- */

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
}

/* Portrait */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
}

/* Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) {
}

/* Portrait */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
}

/* Landscape */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
}

/* Portrait */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
}

/* Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
}

/* ----------- iPhone 12 pro ----------- */

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
  .item {
    flex-direction: column;
    margin: 0 30px;
  }

  .main__left {
    width: 300px;
  }

  .main__right {
    text-align: center;
  }

  .main__left,
  .main__right {
    align-self: center;
  }

  .main__size {
    margin-bottom: 20px;
  }

  .basket {
    position: fixed;
    right: 10px;
    top: 80px;
  }
  .basket img {
    width: 30px;
  }

  .item__img {
    width: 270px;
    height: 270px;
  }

  .main {
    display: block;
    margin: 0 50px;
  }

  .logo__img {
    width: 200px;
  }

  .basket__stroke {
    display: block;
  }

  .basket__img {
    width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .basket__name {
    padding: 0;
    text-align: center;
  }

  .basket__price {
    padding: 15px 0 0 45px;
    text-align: center;
  }

  .basket__total {
    padding: 20px 0 10px 0;
    text-align: center;
    display: block;
  }
  .buttons {
    display: block;
    margin: 0 50px;
    text-align: center;
  }

  .Btn {
    padding: 15px 25px;
  }

  .basket__number {
    padding: 0 10px 0 20px;
    text-align: center;
  }

  .basket__price,
  .basket__number,
  .basket__cancel {
    display: inline-block;
  }

  .basket__cancel {
    padding: 0 0 0 40px;
  }
}
/* ----------- iPhone 6, 7, 8 ----------- */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) {
  .item {
    flex-direction: column;
    margin: 0 30px;
  }

  .main__left {
    width: 300px;
  }

  .main__right {
    text-align: center;
  }

  .main__left,
  .main__right {
    align-self: center;
  }

  .main__size {
    margin-bottom: 20px;
  }

  .basket {
    position: fixed;
    right: 10px;
    top: 80px;
  }
  .basket img {
    width: 30px;
  }

  .item__img {
    width: 270px;
    height: 270px;
  }

  .main {
    display: block;
    margin: 0 50px;
  }

  .logo__img {
    width: 200px;
  }

  .basket__stroke {
    display: block;
  }

  .basket__img {
    width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .basket__name {
    padding: 0;
    text-align: center;
  }

  .basket__price {
    padding: 15px 0 0 45px;
    text-align: center;
  }

  .basket__total {
    padding: 20px 0 10px 0;
    text-align: center;
    display: block;
  }
  .buttons {
    display: block;
    margin: 0 50px;
    text-align: center;
  }

  .Btn {
    padding: 15px 25px;
  }

  .basket__number {
    padding: 0 10px 0 20px;
    text-align: center;
  }

  .basket__price,
  .basket__number,
  .basket__cancel {
    display: inline-block;
  }
  .basket__cancel {
    padding: 0 0 0 40px;
  }
}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
  .item {
    flex-direction: column;
    margin: 0 30px;
  }

  .main__left {
    width: 300px;
  }

  .main__right {
    text-align: center;
  }

  .main__left,
  .main__right {
    align-self: center;
  }

  .main__size {
    margin-bottom: 20px;
  }

  .basket {
    position: fixed;
    right: 10px;
    top: 80px;
  }
  .basket img {
    width: 30px;
  }

  .item__img {
    width: 270px;
    height: 270px;
  }

  .main {
    display: block;
    margin: 0 50px;
  }

  .logo__img {
    width: 200px;
  }

  .basket__stroke {
    display: block;
  }

  .basket__img {
    width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .basket__name {
    padding: 0;
    text-align: center;
  }

  .basket__price {
    padding: 15px 0 0 45px;
    text-align: center;
  }

  .basket__total {
    padding: 20px 0 10px 0;
    text-align: center;
    display: block;
  }
  .buttons {
    display: block;
    margin: 0 50px;
    text-align: center;
  }

  .Btn {
    padding: 15px 25px;
  }

  .basket__number {
    padding: 0 10px 0 20px;
    text-align: center;
  }

  .basket__price,
  .basket__number,
  .basket__cancel {
    display: inline-block;
  }
  .basket__cancel {
    padding: 0 0 0 40px;
  }
}
