@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url(reset.css);
@font-face {
  font-family: swiper-icons;
  src: url('data:application/font-woff;charset=utf-8;base64, d09GRgABAAAAAAZgABAAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAAGRAAAABoAAAAci6qHkUdERUYAAAWgAAAAIwAAACQAYABXR1BPUwAABhQAAAAuAAAANuAY7+xHU1VCAAAFxAAAAFAAAABm2fPczU9TLzIAAAHcAAAASgAAAGBP9V5RY21hcAAAAkQAAACIAAABYt6F0cBjdnQgAAACzAAAAAQAAAAEABEBRGdhc3AAAAWYAAAACAAAAAj//wADZ2x5ZgAAAywAAADMAAAD2MHtryVoZWFkAAABbAAAADAAAAA2E2+eoWhoZWEAAAGcAAAAHwAAACQC9gDzaG10eAAAAigAAAAZAAAArgJkABFsb2NhAAAC0AAAAFoAAABaFQAUGG1heHAAAAG8AAAAHwAAACAAcABAbmFtZQAAA/gAAAE5AAACXvFdBwlwb3N0AAAFNAAAAGIAAACE5s74hXjaY2BkYGAAYpf5Hu/j+W2+MnAzMYDAzaX6QjD6/4//Bxj5GA8AuRwMYGkAPywL13jaY2BkYGA88P8Agx4j+/8fQDYfA1AEBWgDAIB2BOoAeNpjYGRgYNBh4GdgYgABEMnIABJzYNADCQAACWgAsQB42mNgYfzCOIGBlYGB0YcxjYGBwR1Kf2WQZGhhYGBiYGVmgAFGBiQQkOaawtDAoMBQxXjg/wEGPcYDDA4wNUA2CCgwsAAAO4EL6gAAeNpj2M0gyAACqxgGNWBkZ2D4/wMA+xkDdgAAAHjaY2BgYGaAYBkGRgYQiAHyGMF8FgYHIM3DwMHABGQrMOgyWDLEM1T9/w8UBfEMgLzE////P/5//f/V/xv+r4eaAAeMbAxwIUYmIMHEgKYAYjUcsDAwsLKxc3BycfPw8jEQA/gZBASFhEVExcQlJKWkZWTl5BUUlZRVVNXUNTQZBgMAAMR+E+gAEQFEAAAAKgAqACoANAA+AEgAUgBcAGYAcAB6AIQAjgCYAKIArAC2AMAAygDUAN4A6ADyAPwBBgEQARoBJAEuATgBQgFMAVYBYAFqAXQBfgGIAZIBnAGmAbIBzgHsAAB42u2NMQ6CUAyGW568x9AneYYgm4MJbhKFaExIOAVX8ApewSt4Bic4AfeAid3VOBixDxfPYEza5O+Xfi04YADggiUIULCuEJK8VhO4bSvpdnktHI5QCYtdi2sl8ZnXaHlqUrNKzdKcT8cjlq+rwZSvIVczNiezsfnP/uznmfPFBNODM2K7MTQ45YEAZqGP81AmGGcF3iPqOop0r1SPTaTbVkfUe4HXj97wYE+yNwWYxwWu4v1ugWHgo3S1XdZEVqWM7ET0cfnLGxWfkgR42o2PvWrDMBSFj/IHLaF0zKjRgdiVMwScNRAoWUoH78Y2icB/yIY09An6AH2Bdu/UB+yxopYshQiEvnvu0dURgDt8QeC8PDw7Fpji3fEA4z/PEJ6YOB5hKh4dj3EvXhxPqH/SKUY3rJ7srZ4FZnh1PMAtPhwP6fl2PMJMPDgeQ4rY8YT6Gzao0eAEA409DuggmTnFnOcSCiEiLMgxCiTI6Cq5DZUd3Qmp10vO0LaLTd2cjN4fOumlc7lUYbSQcZFkutRG7g6JKZKy0RmdLY680CDnEJ+UMkpFFe1RN7nxdVpXrC4aTtnaurOnYercZg2YVmLN/d/gczfEimrE/fs/bOuq29Zmn8tloORaXgZgGa78yO9/cnXm2BpaGvq25Dv9S4E9+5SIc9PqupJKhYFSSl47+Qcr1mYNAAAAeNptw0cKwkAAAMDZJA8Q7OUJvkLsPfZ6zFVERPy8qHh2YER+3i/BP83vIBLLySsoKimrqKqpa2hp6+jq6RsYGhmbmJqZSy0sraxtbO3sHRydnEMU4uR6yx7JJXveP7WrDycAAAAAAAH//wACeNpjYGRgYOABYhkgZgJCZgZNBkYGLQZtIJsFLMYAAAw3ALgAeNolizEKgDAQBCchRbC2sFER0YD6qVQiBCv/H9ezGI6Z5XBAw8CBK/m5iQQVauVbXLnOrMZv2oLdKFa8Pjuru2hJzGabmOSLzNMzvutpB3N42mNgZGBg4GKQYzBhYMxJLMlj4GBgAYow/P/PAJJhLM6sSoWKfWCAAwDAjgbRAAB42mNgYGBkAIIbCZo5IPrmUn0hGA0AO8EFTQAA');
  font-weight: 400;
  font-style: normal;
}

@keyframes moving {
  from {
    left: 0;
  }

  to {
    left: 1500px;
  }
}
* {
  box-sizing: border-box;
  letter-spacing: 2px;
}
html {
  scroll-behavior: smooth;
}

.header {
  margin: 20px 0 0 0;
}
.menu {
  /* background-color: rgba(59, 255, 59, 0.76); */
  background-color: black;
  color: white;
  display: flex;
  height: 80px;
  border-radius: 20px;
  list-style: none;
  justify-content: space-between;
  align-items: center;
  margin: 0 30px;
}

.menu li {
  margin: 0 40px;
  /* color: rgb(255, 255, 255); */
  color: #00ff99;
  font-weight: 400;
  font-size: 18px;
}

li a {
  text-decoration: none;
  color: #00ff99;
  font-weight: 400;
  font-size: 18px;
}
body {
  font-family: 'Muli', sans-serif;
  line-height: 1.7;
  margin: 0;
}

.container {
  display: flex;
  padding: 20px 20px;
}

.slide {
  height: 80vh;
  border-radius: 20px;
  margin: 10px;
  cursor: pointer;
  color: white;
  flex: 1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: all 500ms ease-in-out;
  position: relative;
}

.slide h3 {
  position: absolute;
  font-size: 24px;
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;
}

.slide a {
  color: #00ff99;
  text-decoration: none;
  position: absolute;
  font-size: 30px;
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;
  font-weight: 400;
}

.slide.active {
  flex: 10;
}

.slide.active a {
  opacity: 1;
  transition: opacity 1s ease-in;
}

.aboutme {
  background-color: black;
  border-radius: 20px;
  color: white;
  margin: 0 30px 50px;
}

.aboutme p {
  padding: 20px;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

/* about */
.aboutText {
  margin: 20px 80px;
}
.ig {
  display: block;
  /* margin: 40px auto; */
  position: relative;
  left: 0;

  animation-name: moving;
  animation-duration: 12s;

  animation-iteration-count: infinite;
  animation-direction: alternate;
  transition-timing-function: cubic-bezier(1, 0.12, 0.39, 0.77);
}
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
  .menu {
    margin: 0 10px;
  }

  .menu li,
  li a {
    font-size: 15px;
  }

  .slide a {
    font-size: 17px;
  }

  .aboutText {
    margin: 20px 30px;
  }
  .header {
    margin: 10px 0 0 0;
  }

  .container {
    padding: 10px;
  }

  .slide {
    margin: 3px;
  }
  .slide.active {
    flex: 10;
  }
  .menu li {
    margin: 0 15px;
  }

  .aboutme {
    margin: 0 10px;
  }

  .aboutme p {
    padding: 20px;
    text-align: center;
  }
}

@media only screen and (min-device-width: 800px) and (max-device-width: 1200px) and (-webkit-min-device-pixel-ratio: 2) {
  .menu {
    margin: 0 10px;
  }

  .menu li,
  li a {
    font-size: 15px;
  }

  .slide a {
    font-size: 17px;
  }
  .aboutText {
    margin: 20px 30px;
  }
}
