/* 
необходимы знания:
border
padding margin
background-image
box-sizing
flexbox
*/
body {
  height: 2000px;
}
* {
  box-sizing: border-box;
}
p {
  margin: 100px auto;
  font-size: 30px;
  width: 700px;
  padding: 20px;

  border-width: 10px;
  border-style: solid;
  border-color: lawngreen;

  border: 5px dotted orange;
}

ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

li {
  width: 150px;
  padding: 10px;
  border: 25px groove orange;
  display: flex;
  justify-content: center;
  align-items: center;
}
li:hover {
  background-color: lightpink;
}
a {
  text-decoration: none;
  color: black;
  text-align: center;
}

.img {
  width: 150px;
  height: 150px;
}

.l {
  background-image: url(https://thumbs.dreamstime.com/b/%D0%BF%D0%BE%D0%B7%D0%B8%D1%86%D0%B8%D1%8F-%D0%BB%D1%8F%D0%B3%D1%83%D1%88%D0%BA%D0%B8-%D0%BB%D0%B5%D1%82%D0%B0%D1%82%D1%8C-%D1%83%D0%BE%D0%BB%D0%BB%D0%B5%D1%81%D0%B0-%D1%84%D0%B8%D0%BB%D0%B8%D0%B0%D0%BB%D0%B0-177309721.jpg);
  background-size: cover;
}

.a {
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSf1aQLy9oSnyJ_T1X2V5t1QLV1VYB7tjNYGMYMZkuMFxBVSVmMD47UN41UftJ675G9rWs&usqp=CAU);
  background-size: cover;
}

.s {
  background-image: url(https://mydiscoveries.ru/wp-content/uploads/2015/05/Depositphotos_53529435_m-e1481985779948.jpg);
  background-size: cover;
}

.leg {
  background-image: url(https://thumbs.dreamstime.com/b/%D0%BF%D0%BE%D0%B7%D0%B8%D1%86%D0%B8%D1%8F-%D0%BB%D1%8F%D0%B3%D1%83%D1%88%D0%BA%D0%B8-%D0%BB%D0%B5%D1%82%D0%B0%D1%82%D1%8C-%D1%83%D0%BE%D0%BB%D0%BB%D0%B5%D1%81%D0%B0-%D1%84%D0%B8%D0%BB%D0%B8%D0%B0%D0%BB%D0%B0-177309721.jpg);
}

.ask {
  background-image: url(https://web-zoopark.ru/wp-content/uploads/2018/06/1-46.jpg);
}

.str {
  background-image: url(https://theanimalw.com/wp-content/uploads/2014/10/28.jpg);
}

.leg,
.ask,
.str {
  height: 150px;
  width: 150px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  border: 25px groove orange;
  width: 1000px;
  margin: 0 auto;
}

h1 {
  text-align: center;
}
