.grdsfgdf {
    background-color: rgb(143, 255, 51);
}


p {
    font-size: 50px;
  
}

.blue {
    color:blue;
}

.yellow {
    color: yellow;
}

.menu {
    display: flex;
    list-style: none;
}

.menu li {
    margin-right: 20px;
    border: 4px solid green;
    padding: 0 40px;
    border-radius: 20px;
}