body {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  background-color: #ffffff;
}

.button {
  text-align: center;

  color: #ffffff;
  background-color: #3075c6;
  border: 0;
}

.button:hover,
.button:focus {
  background: #5d5fef;
}

/* Header */

.header {
  position: relative;
  padding: 45px 60px;
}

.logo {
  font-weight: 900;
  font-size: 24px;
  line-height: 33px;
  text-decoration: none;

  color: #3075c6;
}

.logo span {
  color: #313131;
}

.profile {
  position: absolute;
  top: 41px;
  right: 60px;
  display: inline-block;
  width: 32px;
  height: 32px;

  background: url(/images/profile.png) no-repeat center #3075c6;
  border-radius: 25px;
}

/* Main */

.main {
  padding: 40px 173px 0;
}

.vektor {
  position: absolute;
  top: 138px;
  left: 60px;
}
/* Gallery-ul */

.gallery-section {
  display: flex;
  justify-content: space-between;
  width: 1095px;
}

.gallery-section-ul {
  display: flex;
  flex-wrap: wrap;
  width: 645px;
  list-style: none;
}

.main-image {
  filter: drop-shadow(0px 4px 25px rgba(0, 0, 0, 0.15));
  border-radius: 25px;
  margin: 0 0 18px 0;
}

.extra-image {
  margin-right: 30px;
  border-radius: 30px;
}

.gallery-section-ul li:last-child img {
  margin-right: 0;
}

.gallery-div {
  position: relative;
  width: 420px;
}

.gallery-div h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 49px;
  margin: 20px 0 30px;

  color: #313131;
}

.gallery-div-text {
  font-size: 24px;
  line-height: 33px;
  margin: 20px 0 0;

  color: #aeaeae;
}

.gallery-div .place-img {
  position: relative;
  top: 0;
  left: 0;
}

.gallery-div .place {
  display: inline-block;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  margin: 55px 0 0 30px;

  color: #aeaeae;
}

.select {
  position: relative;
  display: flex;
  justify-content: space-around;
  width: 420px;
  height: 125px;
  margin: 40px 0 40px;

  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(32px);

  border-radius: 32px;
}

.date,
.people {
  width: 208px;
  display: flex;
  flex-direction: column;
  padding-top: 28px;
}

.date-button,
.people-button {
  font-size: 24px;
  line-height: 33px;
  margin: 0 auto;
  border: 0;
  background-color: transparent;
}

.calendar-img {
  position: absolute;
  top: 38px;
  left: 55px;
}

.calendar-round {
  position: absolute;
  top: 34px;
  left: 51px;
}

.people-img {
  position: absolute;
  top: 38px;
  right: 155px;
}

.people-round {
  position: absolute;
  top: 34px;
  right: 150px;
}

.vektor-bottom {
  position: absolute;
  top: 81px;
  left: 158px;
}

.button-line {
  display: inline-block;
  align-self: center;
}

.select p {
  font-size: 12px;
  line-height: 16px;
  margin: 14px 0 0 80px;

  color: #aeaeae;
}

/* Frame */

.frame {
  width: 200px;
  height: 100px;
  overflow: hidden;
  padding-top: 0px;
}

.frame-center {
  position: relative;
  top: 24px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.frame-container {
  display: flex;
  width: 150px;
  padding: 0px 20px 5px;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.frame h1 {
  margin: 0;
  padding: 0;
  user-select: none;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;

  color: #aeaeae;
}

#minus-btn {
  font-weight: 200;
  font-size: 24px;
  padding: 0;
  color: #aeaeae;
}

#plus-btn {
  font-weight: 200;
  font-size: 20px;
  margin-top: 2px;
  padding: 0;
  color: #3075c6;
}

.col-1 {
  width: 60%;
}

.col-2 {
  width: 75%;
}

.col > button,
.number {
  width: 100%;
  background: inherit;
  border: 0px;
  text-align: center;
}

.frame button {
  user-select: none;
  outline: none;
}

/* First Buttonn */

.make-tour {
  width: 420px;
  height: 58px;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;

  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
}

/*Recent Viewed - ul*/

h3 {
  font-size: 24px;
  line-height: 33px;

  color: #313131;
}

.main h4 {
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;

  color: #313131;
}

.recent-viewed {
  margin: 45px 0 0;
}

.recent-viewed-ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.recent-viewed h3 {
  margin-bottom: 20px;
}

.recent-viewed-ul li {
  position: relative;
  height: 235px;
  width: 261px;
  padding: 17px 21px 22px 20px;
  /* margin-right: 40px; */
  /*border: 2px solid red; */

  background: #ffffff;
  box-shadow: 0px 4px 45px -15px rgba(0, 0, 0, 0.15);
  border-radius: 25px;
}

.recent-viewed h4 {
  margin: 17px 0 19px;
}

.recent-viewed-ul img {
  filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.2));
  border-radius: 10px;
}

.recent-viewed .place-img {
  position: absolute;
  top: 225px;
  left: 17px;
}

.recent-viewed .place,
.recent-viewed .coin {
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  margin: 0 0 0 15px;

  color: #aeaeae;
}

.recent-viewed .coin {
  font-size: 16px;
  margin-left: 30px;
}

.recent-viewed span {
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  vertical-align: top;
}

.recent-viewed .coin-img {
  position: absolute;
  top: 225px;
  margin-left: 10px;
}

/*Recommendation - ul*/

.recommendation {
  margin: 45px 0 0;
}

.recommendation h3 {
  margin-bottom: 26px;
}

.recommendation-ul {
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  /* display: flex;
  justify-content: space-between; */
  list-style: none;
  /* flex-wrap: wrap; */
  margin: 0;
  padding: 0;
  width: 1164px;
}

.recommendation-li {
  /* position: relative; */
  width: 261px;
  height: 300px;
  padding: 17px 21px 22px 20px;
  margin-bottom: 90px;

  background-color: #ffffff;
  box-shadow: 0px 4px 45px -15px rgba(0, 0, 0, 0.15);
  border-radius: 25px;
}

.recommendation-ul h4 {
  margin-top: 17px;
}

.recommendation-ul img {
  /* display: block; */
  margin: 0 auto;
}

.recommendation-ul-text {
  font-size: 14px;
  line-height: 19px;
  margin: 4px 0 38px;

  color: #aeaeae;
}

.recommendation .place {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  margin: 0 0 0 15px;

  color: #aeaeae;
}

.recommendation .place-img {
  position: relative;
  top: 0;
  right: 0;
}

.recommendation .place,
.recommendation .coin {
  display: inline-block;
  font-size: 16px;
  font-weight: 700;

  color: #aeaeae;
}

.recommendation .place-ukr {
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  margin: 0 0 0 15px;

  color: #aeaeae;
}

.recommendation .coin {
  /* position: relative;
  bottom: 25px;
  right: 0; */

  margin: 0;
  margin-left: 25px;
  text-align: right;
}

.recommendation span {
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  vertical-align: top;
}

.recommendation .coin-img {
  position: relative;
  top: 0;
  right: 0;
}

.coin-more-number {
  position: relative;
  top: 0;
  right: 0px;
}

/* Second button */

.view-more {
  display: block;
  width: 270px;
  height: 60px;
  font-size: 20px;
  line-height: 27px;
  margin: 12px auto 110px;

  border-radius: 10px;
}

/* Footer */

.footer {
  display: flex;
  justify-content: space-between;
  padding: 0 173px;
  margin-bottom: 58px;
}

.footer-div {
  width: 142px;
}

.footer-div-text {
  font-size: 20px;
  line-height: 27px;

  color: #aeaeae;
}

.social-ul {
  display: flex;
  justify-content: space-between;
}

.footer h4 {
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  margin: 0 0 15px;

  color: #313131;
}

.footer ul {
  margin: 0;
  list-style: none;
}

.footer ul a {
  font-size: 16px;
  line-height: 34px;
  text-decoration: none;

  color: #aeaeae;
}

.footer ul a:hover,
.footer ul a:focus {
  color: #313131;
}

.copyright {
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  margin-bottom: 16px;

  color: #aeaeae;
}

/* Js Code */

.short_box {
  width: 383px;
  height: 337px;
  background: #ffffff;
}

.high_box {
  width: 383px;
  height: 692px;
  background: #ffffff;
}

.long_box {
  width: 795px;
  height: 337px;
  background: #ffffff;
}

/* CALENDAR */

.box {
  position: relative;
  z-index: 1000;
}

.container {
  position: relative;
  width: 357px;
  min-height: 338px;
  background: #ffffff;
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(32px);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#calendar {
  width: 100%;
  padding: 20px;
}

#calendar table {
  width: 100%;
  margin-top: 40px;
}

#calendar table td {
  color: black;
  padding: 10px;
  cursor: pointer;
}

.calendar-month-containe .calendar-span-month-year {
  color: #313131;
  font-size: 1.5em;
  font-weight: 600;
}

.calendar {
  display: none;
}

.open {
  display: block;
}

.swiper-slide-shadow {
  box-shadow: none;
}

/* swiper */

.slider {
  width: 1600px;
  display: flex;
  overflow: hidden;
  -ms-overflow-style: none;
  overflow-x: auto;
  cursor: grab;
  /* scrollbar-width: none; */
  cursor: grab;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 19%;
}

.slide {
  margin: 10px;
}
.slider::-webkit-scrollbar {
  display: none;
}
