body {
  font-size: 25px;
}

ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

li {
  padding: 20px;
  /* border: 2px solid red; */
}

li:hover {
  font-size: 70px;
  background-color: rgba(206, 204, 204, 0.541);
}

.straus {
  text-transform: lowercase;
}
a {
  text-decoration: none;
  color: black;
}
