body {
  background-color: rgb(0, 0, 53);
  color: rgb(255, 255, 255);
  font-size: 30px; /* изменяет размер текста в пикселях*/
}

h1 {
  text-align: center;
}

img {
  display: block; /*ставит картинку по центру */
  margin: 0 auto; /*ставит картинку по центру */
}

.k {
  text-align: center; /* ставит текст по центру */
  color: white;
}

.img {
  width: 400px; /* это ширина */
  height: 400px; /* это высота */
}

.center {
  text-align: right;
  color: white;
  display: inline-block;
}

.center:hover {
  color: aqua;
}

h3 {
  text-align: center;
  color: chartreuse;
}

.size {
  font-size: 65px;
}

.fat {
  font-weight: 600;
}

.kagkdgjalkj {
  letter-spacing: 12px;
}

.decoration {
  text-decoration: underline;
}

.uppercase {
  text-transform: uppercase;
}

.hover:hover {
  color: pink;
}
