.menu {
  display: flex;
  list-style: none;
  color: inherit;
}

.header {
  display: flex;
  justify-content: space-around;
}

.item {
  margin-left: 20px;
}

.main_section {
  height: 800px;
  background-color: rgb(198, 255, 107);
  display: flex;
}

.title {
  margin: auto;
}
