@font-face {
  font-family: 'Lora';
  font-style: italic;
  font-weight: 400;
  src: url(s/lora/v20/0QI8MX1D_JOuMw_hLdO6T2wV9KnW-MoFoqt2mQ.ttf)
    format('truetype');
}
@font-face {
  font-family: 'Lora';
  font-style: italic;
  font-weight: 700;
  src: url(s/lora/v20/0QI8MX1D_JOuMw_hLdO6T2wV9KnW-C0Coqt2mQ.ttf)
    format('truetype');
}
@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 400;
  src: url(s/lora/v20/0QI6MX1D_JOuGQbT0gvTJPa787weuxJFkqg.ttf)
    format('truetype');
}
@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 700;
  src: url(s/lora/v20/0QI6MX1D_JOuGQbT0gvTJPa787z5vBJFkqg.ttf)
    format('truetype');
}
@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: 400;
  src: url(s/ptsans/v16/jizYRExUiTo99u79D0e0w8mN.ttf) format('truetype');
}
@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: 700;
  src: url(s/ptsans/v16/jizdRExUiTo99u79D0e8fOydKxUY.ttf) format('truetype');
}
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: url(s/ptsans/v16/jizaRExUiTo99u79D0aEwA.ttf) format('truetype');
}
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: url(s/ptsans/v16/jizfRExUiTo99u79B_mh0OqtKA.ttf) format('truetype');
}
@font-face {
  font-family: 'PT Serif';
  font-style: italic;
  font-weight: 400;
  src: url(s/ptserif/v16/EJRTQgYoZZY2vCFuvAFT_rm1dw.ttf) format('truetype');
}
@font-face {
  font-family: 'PT Serif';
  font-style: italic;
  font-weight: 700;
  src: url(s/ptserif/v16/EJRQQgYoZZY2vCFuvAFT9gaQZy3fpQ.ttf) format('truetype');
}
@font-face {
  font-family: 'PT Serif';
  font-style: normal;
  font-weight: 400;
  src: url(s/ptserif/v16/EJRVQgYoZZY2vCFuvAFSzro.ttf) format('truetype');
}
@font-face {
  font-family: 'PT Serif';
  font-style: normal;
  font-weight: 700;
  src: url(s/ptserif/v16/EJRSQgYoZZY2vCFuvAnt66qWVy4.ttf) format('truetype');
}
