header {
  text-align: center;
  font-size: 1.2rem;
}

header,
footer,
.wrapper {
  width: 80%;
  margin: 0 auto;
}

.wrapper {
  padding-bottom: 2rem;
}

main {
  width: calc(80% - 1rem);
  margin-right: 1rem;
  float: left;
}

aside {
  width: 20%;
  float: right;
}

footer {
  clear: both;
}

.wrapper::after {
  clear: both;
  content: '';
  display: block;
}

nav h3 {
  margin-top: 0;
}

nav ul {
  padding: 0;
  list-style-type: none;
}

main h2 {
  margin-top: 0;
}
