@import url(reset.css);

body {
  font-family: 'Arial', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
  line-height: 28, 75px;
  box-sizing: border-box;
}

.header {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: white;
}

.logo {
  color: #e50043;
  font-size: 50px;
  padding: 50px;
}
nav {
  display: flex;
}
a {
  color: #e50043;
  font-size: 50px;
}

ul {
  display: flex;
}

.link {
  padding: 50px 25px;
}

.nav {
  display: flex;
  justify-content: space-between;
  width: 100wh;
}

.main {
  margin-top: 150px;
  width: 100%;
}
.pic {
  background-image: url(../img/evian_origins_logo.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  padding-top: 150px;
}

.title {
  font-size: 100px;
  margin: auto;
  color: #e50043;
}

.woter {
  display: flex;
}
.about-our_water {
  border: 3px solid #f8bfc7;
  border-radius: 20px;
  padding: 24px;
  margin: 150px auto;
  width: 1040px;
}

.water__flex-bottle {
  display: flex;
  margin: 0 auto;
  width: 1440px;
  justify-content: space-between;
}

.water__discription {
  padding-top: 42px;
  text-align: center;
}

.electrolits__flex-container {
  display: flex;
  border: 3px solid #f8bfc7;
  border-radius: 20px;
  margin: 0 auto;
  width: 1040px;
  padding: 30px 80px;
}

.about {
  padding: 150px 0;
}
.glass {
  margin-left: 80px;
}

.electrolits {
  padding: 150px 0;
}

.electrolits__discription {
  align-self: center;
  margin: 30px 30px 30px 80px;
}
footer {
  background-color: #f8bfc7;
}
.footer {
  color: white;
  font-size: 50px;
  padding: 50px;
}

/* Animations 

.small {
  height: 50px;
}

.small .logo {
  font-size: 2.6em;
  margin-top: 5px;
}

.cf:before,
.cf:after {
  content: ' ';
  display: table;
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

header,
.logo {
  -webkit-transition: all 1s;
  transition: all 1s;
}
*/
