.logo,
.menu {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  color: #e50043;
}

.header {
  display: flex;
  justify-content: space-between;
  margin: 0 40px;
}

.menu {
  display: flex;
}

.item {
  margin-left: 25px;
}
