header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

ul {
  display: flex;
  list-style: none;
}

h1 {
  font-size: 50px;
  font-weight: normal;
  color: #e50043;
}

.pic {
  height: 100vh;
  background-image: url(img/evian_origins_logo.jpg);
  display: flex;
}
.subtitle {
  margin: auto;
  font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 100px;
line-height: 115px;
display: flex;
align-items: center;
text-align: center;

color: #E50043;
}

.about__text {
  width: 992px;
  border: 3px solid #F8BFC7;
  border-radius: 20px;
  padding: 24px;
  margin: 150px auto;
  font-size: 25px;
  font-family: 'Arial';
font-style: normal;
font-weight: 400;

}

.water__p {
  font-size: 25px;
  font-family: 'Arial';
font-style: normal;
font-weight: 400;
}

.water{
  width: 992px;
  border: 3px solid #F8BFC7;
  border-radius: 20px;
  padding: 24px;
  margin: 150px auto;

  display: flex;
}

.water__img {
  padding: 30px 80px;
  width: 100px;
  height: 220px;
}

.icons {
  display: flex;
  justify-content: space-around;
}