body {
  color: white;
  /* background-image: url('https://248006.selcdn.ru/main/upload/setka_images/08234924102020_395ac55f9d2bdf7b2eaa249aca1918774fc91ed3.jpg'); */
  background-repeat: no-repeat;
  background-size: 1900px;
}

.page {
  width: 800px;
  margin: 20px auto;
  /* border: 40px solid aquamarine; */
}

.first {
  background-color: rgb(23, 244, 252);
  color: white;
  padding: 20px;
}

header.first {
  background-color: rgb(252, 23, 23);
}



h1,
h2 {
  text-align: center;
}

h2 {
  font-size: 15px;
  font-weight: 500;
}

a {
  text-decoration: none;
  color: rgb(137, 129, 255);
  display: inline-block;
  /* border: 2px solid black; */
  padding: 5px 10px;
}

a:hover {
  background-color: grey;
  color: white;
}

.content {
  background-color: rgba(0, 0, 0, 0.822);
}
.menu {
  text-align: center;
}

img {
  display: block;
  margin: 0 auto;
  width: 100%;
  margin-bottom: 30px;
}
.footer {
  background-color: rgb(81, 219, 243);
  color: white;
  padding: 20px;
  margin: 30px 0;
  text-align: center;
}

.orange {
  color:blue;
}