/* 
селекто {
  свойство: значение;
} 
*/
.item {
  background-color: rgb(179, 28, 28);
}
.item {
  width: 200px;
  height: 200px;
  background-color: rgb(72, 240, 86);
  margin: 20px;
}

.parent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  height: 1200px;
  background-color: rgb(99, 49, 49);
  align-items: flex-start;
}

.three {
  order: 0;
}

.seven {
  align-self: center;
}

.one {
  align-self: flex-end;
}
