@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url(reset.css);

* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

.header {
  margin: 20px 0 0 0;
}
.menu {
  background-color: black;
  color: white;
  display: flex;
  height: 60px;
  border-radius: 20px;
  list-style: none;
  justify-content: space-between;
  align-items: center;
  margin: 0 30px;
}

.menu li {
  margin: 0 40px;
}

li a {
  text-decoration: none;
  color: white;
}

body {
  font-family: 'Muli', sans-serif;
  line-height: 1.7;
  margin: 0;
}
