@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url(reset.css);

* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

.header {
  margin: 20px 0 0 0;
}
.menu {
  background-color: black;
  color: white;
  display: flex;
  height: 60px;
  border-radius: 20px;
  list-style: none;
  justify-content: space-between;
  align-items: center;
  margin: 0 30px;
}

.menu li {
  margin: 0 40px;
}

li a {
  text-decoration: none;
  color: white;
}
body {
  font-family: 'Muli', sans-serif;
  line-height: 1.7;
  margin: 0;
}

.slider {
  overflow: hidden;
  margin: 0;
  max-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  display: flex;
  padding: 20px 20px;
  scroll-snap-type: y mandatory;
}

.slide {
  height: 80vh;
  border-radius: 20px;
  margin: 10px;
  cursor: pointer;
  color: white;
  flex: 1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: all 500ms ease-in-out;
  position: relative;
  scroll-snap-align: center;
}

.slide h3 {
  position: absolute;
  font-size: 24px;
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;
}

.slide a {
  color: white;
  text-decoration: none;
  position: absolute;
  font-size: 24px;
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;
}

/*.slide.active {
  flex: 10;
}

.slide.active a {
  opacity: 1;
  transition: opacity 1s ease-in;
}
*/
.swiper-slide-active a {
  opacity: 1;
  transition: opacity 1s ease-in;
}
.swiper-slide-active {
  flex: 10;
}
.aboutme {
  background-color: black;
  border-radius: 20px;
  color: white;
  margin: 0 30px 50px;
}

.aboutme p {
  padding: 20px;
}

html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  /* width: 1390px;*/
  width: calc(100%-20px);
  height: 80%;
  margin: 20px 0 40px 0;
}
/*
 .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;*/

/* Center slide text vertically 
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
        
      }

      .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

  /* Center slide text vertically 
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}


.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
*/

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
  .menu {
    margin: 0 10px;
  }

  .header {
    margin: 10px 0 0 0;
  }

  .container {
    padding: 10px;
  }

  .slide {
    margin: 3px;
  }
  .slide.active {
    flex: 17;
  }
  .menu li {
    margin: 0 15px;
  }

  .aboutme {
    margin: 0 10px;
  }

  .aboutme p {
    padding: 20px;
    text-align: center;
  }
}
