.formula {
  width: 400px;
  height: 400px;
  background-color: rgb(224, 125, 125);
  margin: 100px auto;

  display: flex; /* включает flex раскладку чтобы заголовок встал по центру */

  background-image: url(https://img.championat.com/i/r/d/1626368561823646389.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* h1 {
  color: rgb(0, 0, 0);
  font-size: 40px;
  font-weight: bold;

  margin: auto;ставит заголовок по центру 
} */
/* заготовка блока с обводкой */

.border,
.club {
  border: 2px solid pink;
  width: 1040px;
  margin: 50px auto;
  display: block;
  padding: 24px;
  border-radius: 20px;

  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 29px;
  display: flex;
  align-items: center;
  letter-spacing: 0.05em;
}

/* заготовка блока с водой */

.img {
  width: 150px;
  height: 250px;
  background-color: rgb(209, 124, 124);
}

.woter__box {
  display: flex;
  justify-content: space-around;
}

/* заготовка последнего блока */
/* 
.club {
  display: flex;
  font-size: 20px;
  border: 2px solid pink;
  padding: 24px;
  width: 1040px;
  margin: 50px auto;
  border-radius: 20px;
} */

.textAlign {
  align-self: center;
  margin-left: 20px;
}

.title,
.item {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 57px;
  color: #e50043;
}

.item {
  margin-right: 25px;
}

.last {
  margin-right: 0px;
}

.menu {
  margin: 50px;
  display: flex;
  justify-content: space-between;
}

.link {
  display: flex;
}
