header {
  text-align: center;
  font-size: 1.2rem;
}

header, footer, .content-wrapper {
  width: 80%;
  margin: 0 auto;
}

.content-wrapper {
  display: table;
  border-collapse: collapse;
}

.content {
  display: table-row;
}

main, aside {
  display: table-cell;
  vertical-align: top;
}

main {
  width: calc(80% - 1rem);
  padding-right: 1rem;
}

aside {
  width: 20%;
}

nav h3 {
  margin-top: 0;
}

nav ul {
  padding: 0;
  list-style-type: none;
}

main h2 {
  margin-top: 0;
}
