/* 


селектор {
  свойство:значение;
} 

@директива
*/

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap');

body {
  font-size: 20px;
  color: rgb(229, 255, 0);
  background-color: blueviolet;
}

.verybold {
  background-color: rgb(15, 255, 35);
}

.text {
  font-size: 30px;
  font-weight: bold;
  font-style: italic;
  font-family: 'Caveat';
  color: tomato;
  background-color: rgb(91, 255, 77);
  border: 20px solid black;
  border-left-color: red;
  border-bottom-left-radius: 50px;
  padding: 30px;
  margin: 100px;

  line-height: 50px;
  letter-spacing: 20px;
  text-decoration: underline;
  text-transform: uppercase;
}

.text:hover {
  background-color: rgb(32, 222, 255);
  text-decoration: black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
}

img {
  display: block;
  margin: 0 auto;
}
